body {
    font-family: "Source Serif VF", "Source Serif", sans;
    font-weight: 300;
    overflow-x: hidden;
    font-feature-settings: "kern" 1, "liga" 1;
    font-optical-sizing: auto;
    margin: 0;

    /* background-image: linear-gradient(180deg, #fff,#bbb); */
}

*{
    padding: 0;
    margin: 0;
}

h1{
    font-size: 60pt;
    font-weight: 300;
}

.homepage{
    height: 100vh;
    max-width: 75%;
    margin: 0  auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.sidemenu{
    background-color: hsla(0, 0%, 0%, 0.726);
    z-index: -1;
    /* Na versão small, o sidemenu vai até 100% */
    width: 100vw;
    height: 100vh;
    display: none;
}

.open{
    display: block;
    position: absolute;
    top: auto;
    left: 0;
}

.block {
    display: block;
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: absolute;
    background-color: transparent;
    border: none;
    margin: 1rem;
}

.hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
  position: absolute; /* Inicialmente era relative*/
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}


.hamburger-middle {
    transform: translateY(7px);
  }
  
.hamburger-bottom {
    transform: translateY(14px);
}
  
.open {
    transform: rotate(90deg);
    transform: translateY(0px);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
    background: #fff;
  }
  
  .open .hamburger-middle {
    display: none;
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
    background: #fff;
  }