/*  Reset Standard Styling */ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}


body {
  font-family: "Source Serif VF", "Source Serif", sans;
  font-size: 18px;
  font-weight: 300;
  overflow-x: hidden;
  font-feature-settings: "kern" 1, "liga" 1;
  font-optical-sizing: auto;
  margin: 0;
}

/*  Legacy Support for Semantic HTML    */
section, article, aside, footer, header, nav {
  display: block;
}

/*  Typography  */
h1{
  font-size: 2rem;
  font-weight: 300;
}


.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*  Header */
.hero h1{
  font-size: 60pt;
  text-align: center;
}

#signature{
  display: none;
  /* margin-left: -3.5rem;
  margin-top: -1rem; */
} 

/*Mesmo A Imagem*/
.signature{
  height: 3rem;
  margin-top: .5rem;
  /*margin: .5rem 0 0 2rem;*/
  margin-left: 2rem;
  /* margin: .5rem 0 0 50px; */
  /*margin: .5rem auto 0 auto;*/

}

.navbar {
  width: 100%;
  position: fixed;
  top: 2rem;
  left: 1rem;
  background-color: transparent;
  z-index: 999;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.nav-links{
  display: none;
  /* display: flex; */
   margin-left: auto;
}
.nav-links li{
  list-style: none;
}

.nav-links a{
  text-decoration: none;
  color: black;
  padding: 0 1rem;

}

.nav-links li:last-child {
  margin-right: 2rem;
}



.carrousel{
  display: none;
  /* display: flex;
  flex-direction: column; */
  background-color: transparent;
  width: 2rem;
  height: calc(100vh/3);
  position: fixed;
  left: 2rem;
  top: calc(100vh/3);
}


.carrousel a{
  display: block;
  justify-content: center;
  margin: auto;
  height: .55rem;
  width: .55rem;
  background-color: rgba(84, 86, 95, 0.509);
  border-radius: 50%;
  /* z-index: 999; */
}

.carrousel a.carrousel-selected{
  background-color: rgba(15, 14, 14, 0.866);
  box-shadow: 0 0 30px rgba(39, 40, 46, 0.866);
}


/*  For Now Flex Versio  */
.page, .xadrez {
  display: flex;
  flex-wrap: wrap;
}

main {
  height:  100vh;
  width:  100%;

  overflow-y: scroll;
  scroll-snap-type: y mandatory;

}

section {
  /*height:  100vh;*/
  width:  100%;
  scroll-snap-align: start;
}

.full-page{
  height: 100vh;
}

/*  Separating Elements in Columns */
.left{
  position: relative;
  width: 60%;
  height: 100vh;
  background-color: #905055 ;
  color: white;
  z-index: -3;
}


.right{
  width:  40%;
  height: 100vh;
  background-color: #55575f8e;
  color: white;
  z-index: -3;

}

.center{
  position: absolute;
  width: 40%;
  height: calc( 2/3 * 100vh);
  /* z-index: 999; */
  top: calc(1/5 * 100vh);
  right: 0;
  background-color: black;
}


.hamburger {
  cursor: pointer;
  width: 24px;
  /* width: 100%; */
  height: 24px;
  transition: all 0.25s;
  position: absolute;
  background-color: transparent;
  border: none;
  margin: 0rem;
}


.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute; /* Inicialmente era relative*/
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}


.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  /* z-index: 91; */
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
  background: #fff;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
  background: #fff;
}


.sidemenu-inner{

  height: 70vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sidemenu{
  background-color: hsla(0, 0%, 0%, 0.726);

  /* Na versão small, o sidemenu vai até 100% */
  width: 100vw;
  height: 100vh;
  display: none;
}

.open{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: auto;
  left: 0;
  z-index: 998;
}  

.sidemenu a{
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  /* z-index: 1; */
}

a.mainmenu-selected, .mainmenu-a:hover{
  text-decoration: underline;
}

.sidemenu a.sidemenu-selected , .sidemenu a:hover{
  cursor: pointer;
  font-weight: bolder;
  text-decoration: underline;
}


.not-found-page{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.not-found-page a{
  color: black;
}

.not-found-page p{
  margin-top: 1rem;
}


/* Media Queries: */
@media only screen and (min-width: 961px) {

  /*  Hide Burguer: */
  .hamburger{
    display: none;
  }

  #signature{
    display: block;
    /*margin: 0;*/
  }
  /*
  .signature{
    height: 3rem;
  } */

  .navbar {
    top:0;
    left: 0;
  }

  .carrousel{
    display: flex;
    flex-direction: column;
  }

  .nav-links{
    display: flex;
  }
  .open{
    display: none;
  }


  /*  Definir Aqui a Página do windows8 phone pra desktop*/

}



/** Footer Windows Phone: */
.phone-grid{
  display: grid;
  /* grid-template-columns: repeat(auto-fill,minmax(200px,1fr)); */
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.grid-right{
  grid-column: 2 / -1;
}


.rotate-horizontal-center{
  animation:rotate-horizontal-center 0.2s
} @keyframes rotate-horizontal-center{
  0%{transform:rotateX(0)}
  100%{transform:rotateX(-360deg)}
}

.flip{
  animation:rotate-horizontal-center 0.2s
  } @keyframes rotate-horizontal-center{
      0%{transform:rotateX(0)}
      100%{transform:rotateX(-360deg)} 
}

.phone-square{
  transition: transform 500ms ease;
}


@media( hover : hover){

  .phone-square:hover{
      transform: scale(1.05);
      cursor: pointer;
  }
}

footer > ul{
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start:0;
  list-style: none;
}


.phone-grid > a {
  background: black;
  padding: 1rem;
  /*isto é para um troque de meter a imagem dentro da parte do conteudo,
  pois agora temos o before a criar um quadrado perfeito acima da imagem,
  depois vem a imagem, tornando cada elem da grid principal um retangulo na vertical*/
  display: grid;
  place-items: center;
}

/*  Fucking Magic!!!*/
.phone-grid > a::before{
  content:"";
  /*Em grid, este 100% é baseado na width da celula, assim conseguimos fazer quadrados!!!*/
  padding-top: 100%;
  display: block;
  grid-area: 1 / 1 / -1 / -1;
}

.phone-grid > a.long{
  grid-column: 1 / -1;
}

.phone-grid > a.long::before{
  padding-top: 50%;
}
.phone-grid > a > img {
  width: 50%;
  grid-area: 1 / 1 / -1 / -1;
} 


.handle-phone{
  /* display: flex;
  margin: auto;
  align-items: center;
  border: 10px solid black;
  width: 300px; */
  /*width: calc(100vw - 2rem);*/
  position: relative;
  margin: 1rem auto;
  padding: 1rem;
  height: 80vh;
  max-width: 90vw;
  overflow-y: scroll;
  background-color: darkorange;
  border: 10px solid black;
  border-top: 20px solid black;
  border-bottom: 20px solid black;
  border-radius: 1rem;
  z-index: 0;
}

.phone-notification{
  position: absolute;
  display: flex;
  align-items: center;
  top: .15rem;
  gap: .25rem;
  right: 1rem;
}

.phone-notification > img{
  height: .5rem;
}

.phone-notification > img.wifi{
  height: .6rem;
}

.phone-notification > img.battery{
  height: .4rem;
}

#touch{
  display: flex;
  background-color: beige;
  justify-content: center;
  align-items: center;
}

#about{
  display: flex;
  background-color: #905055;
  justify-content: center;
  align-items: center;
}