* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-page{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foundling-desc{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40%;
    background-color: black;
    z-index: 2;
}

.spickles-desc{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 40%;
    background-color: black;
    z-index: 2;
}



.work-grid{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1000px; 
    gap: 1rem;
}

.work-grid img {
    display: block;
    width: 100%; 
}



.work-grid h2 {
    margin-top: 1rem;
    text-align: center;

}
.work-grid > div{
    padding: 1rem;
}

.work-grid .dark{
    display: none;
}


.work-cell:hover{
    cursor: pointer;
    scale: 130%;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 1px solid black;
}

.work-cell:hover .foundling-desc{
    display: block;
}

.work-cell:hover .dark{
    display: block;
}

.work-cell:hover .light{
    display: none;

}