*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    min-height: 100vh;
}

.thumb {
	position: relative;
	margin: 0;
	width: 200px;
	height: 220px;
	overflow: hidden;
}

.distort {
	pointer-events: none;
	margin: -115px 0 0 -75px;
}