@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .btn {
        background: blue;
        color: white
        /* ... */
      }

    .skulls {
        position: relative;
        width: 600px;
        height: 200px;
        margin: auto;
        border: 24px solid;
        border-image: url('../imgs/skull-border.svg');
        border-image-slice: 32;
        border-image-repeat: round;
    }
}